*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;

}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.nav{
    font-size: 12px;
}
body {
    background-image: url('../img/fondoVIstaMapa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.row {
    flex: 1;
}
/*VISTA MAPA*/
.mapa-container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.col-2 {
    border: 1px solid rgba(255,255,255,0.4);
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%; /* hace que ocupe toda la altura de la fila */
}

/*VISTA MAR DESBLOQUEADO*/
.mar-desbloqueado-container {
    height: calc(90vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.fondo {
    border: 1px solid rgba(255,255,255,0.4);
    text-align: center;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* fondo semitransparente */
    height: 100%; /* hace que ocupe toda la altura de la fila */
}
main{
    display: flex;
    flex-direction: column;
}
.mitologias{
    margin: 5px;
    padding: 5px;

}