/* Reset general y fuente retro */
* {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url('../img/fondo-tienda.jpg');
    <!--background: linear-gradient(to bottom, #a2d4f3, #e0f7fa); -->
    color: #033b4a;
    font-size: 14px;
    padding: 20px;
}

/* Navegación */
nav {
    background-color: #0288d1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.2s;
}

nav a:hover {
    color: #ffeb3b;
}




/* Título y monedas */
.titulo {
    color:white;
    font-size: 36px;
    margin-bottom: 15px;
}

main span {
    font-weight: bold;
    color: #004d40;
}

/* Lista de objetos */
ul {
    list-style: none;
    margin-top: 20px;
}

li {
    max-width: 50%;
    min-width:60%;
    background-color: #ffffffaa;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
justify-content: flex-start;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* Imagen de objeto */
li::before {
    content: "";
    width: 64px;
    height: 64px;
    background-image: url(/resources/core/img/caña-madera.png); /* Asegurate de tener esta imagen en /static/images */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

/* Botón */
form button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #0097a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #007c91;
}
