<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/objetoDelJugador.css}">
</head>
<body>
<header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">

        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${jugador.monedas}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/logros}">Libro de Coleccion</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>

    </ul>
</header>

<main>
<!--<h2> Objetos del Jugador</h2>-->
<ul class="claseUl">
    <li class="claseLi" th:each="objeto : ${objetosDelJugador}">
        <img th:src="@{'/img/' + ${objeto.nombreImagen}}" alt="Imagen del objeto" width="100" />
        Objeto: <span th:text="${objeto.nombre}">1</span>

        <form th:action="@{/equipar}" method="post">
            <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}">
            <button type="submit">Equipar</button>
        </form>
    </li>
</ul>

<p class="letra">
    Caña activa:
    <span th:if="${caniaActiva != null}" th:text="${jugador.caniaActiva.nombre}"></span>
    <span th:if="${caniaActiva == null}">Ninguna </span>

</p>

    <br>
    <br>
    <br>
<a th:href="@{/personaje}">Volver al personaje</a>
</main>
</body>
</html>

<!--<h2>Objetos disponibles:</h2>
<ul>
    <li th:each="objeto : ${objetosDisponibles}">
        Objeto ID: <span th:text="${objeto.idObjeto} + ${objeto.nombre} " >1</span> -
        Precio: <span th:text="${objeto.precioObjeto}">100.0</span>
        <form th:action="@{/comprarObjeto}" method="post">
            <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}" /> "${1}"
            <button type="submit">Comprar</button>
        </form>
    </li>
</ul>-->