<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/mapa}">Mapa</a> |
        <a th:href="@{/tienda}">Tienda</a> |
        <a th:href="@{/logros}">Logros</a>
        <a th:href="@{/personaje}">Personaje</a>
    </nav>
</header>

<h2> Objetos del Jugador</h2>
<ul>
    <li th:each="objeto : ${objetosDelJugador}">
        Objeto: <span th:text="${objeto.nombre}">1</span>

        <form th:action="@{/equipar}" method="post">
            <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}">
            <button type="submit">Equipar</button>
        </form>
    </li>
</ul>

<p>
    Caña activa:
    <span th:if="${caniaActiva != null}" th:text="${jugador.caniaActiva.nombre}"></span>
    <span th:if="${caniaActiva == null}">Ninguna </span>

</p>

<a th:href="@{/personaje}">Volver al personaje</a>

</body>
</html>

<!--<h2>Objetos disponibles:</h2>
<ul>
    <li th:each="objeto : ${objetosDisponibles}">
        Objeto ID: <span th:text="${objeto.idObjeto} + ${objeto.nombre} " >1</span> -
        Precio: <span th:text="${objeto.precioObjeto}">100.0</span>
        <form th:action="@{/comprarObjeto}" method="post">
            <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}" /> "${1}"
            <button type="submit">Comprar</button>
        </form>
    </li>
</ul>-->