<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloRun.css}" />
    <title>Resultado</title>
</head>
<body>

<div th:if="${pesco}">
    <p style="color: white">¡Pescaste un pez!</p>
    <p style="color: white"><strong>Nombre:</strong> <span th:text="${pez.nombre}"></span></p>
    <p style="color: white"><strong>Valor:</strong> <span th:text="${pez.rareza.getValor()}"></span> $</p>
</div>
<div th:unless="${pesco}">
    <p style="color: white">No lograste pescar nada esta vez.</p>
</div>

<a th:href="@{/verificar-cebo}" class="btn btn-primary">Volver a pescar</a>
</body>
</html>