<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloRun.css}" />
    <meta charset="UTF-8">
    <title>Resumen</title>
</head>
<body>
<div class="resumen" style="color: white">
    <h1>Resumen de la Partida</h1>
    <p><strong>Ganancia total:</strong><span th:text="${ganancia}"></span> monedas</p>
    <p><strong>Cantidad de peces pescados:</strong> <span th:text="${cantidadPeces}"></span></p>

    <a href="mapa" class="btn btn-warning">Volver a la mar</a>
</div>

</body>
</html>