<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personaje</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/vistaPersonaje.css}">
</head>
<body>

<header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">

        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${jugador.monedas}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/mapa}">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>

    </ul>
</header>

<main>

    <div class="encabezado">
    <p th:text="${clavePersonaje}" id="clavePersonaje"></p>
    </div>

    
    <div class="contenido-centrado">

        <div class="opcion-personaje">
        <a class="claseA" th:href="@{/objeto}">
            <button class="boton-hover">
                <img th:src="@{/img/caña-madera.png}" alt="Caña" class="icono-cania" />
               <p>Cañas</p>
            </button>
        </a>
        </div>

      <!--  <div class="opcion-personaje">
            <button disabled  class="boton-deshabilitado">
                <img th:src="@{/img/carnada.jpg}" alt="Carnada" class="icono-cania" />
                <p>Carnada: <span th:text="${jugador.cant_carnada}">0</span></p>
            </button>
        </div>-->


      <!--  <p class="bloque-carnada">
            <img th:src="@{/img/carnada.jpg}" alt="Carnada" class="icono-cania" width="50px" height="50px"/>
            Carnada: <span th:text="${jugador.cant_carnada}">0</span>
        </p>-->

    </div>
    <p style="color: white">Cantidad Carnada: <span th:text="${jugador.cant_carnada}" style="color: white">0</span> </p>
</main>
</body>
</html>