<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/vistaTienda.css}">


</head>
<body>
<header>
    <nav>
        <a th:href="@{/mapa}">Mapa</a> |
        <a th:href="@{/tienda}">Tienda</a> |
        <a th:href="@{/logros}">Logros</a>
        <a th:href="@{/personaje}">Personaje</a>
    </nav>
</header>

<main>
    <!-- Título o mensaje de bienvenida -->
    <p th:text="${claveTienda}" class="titulo">Bienvenido a la tienda</p>

    <!-- Mensaje de éxito -->
    <div th:if="${mensaje}"  class="mensaje-exito">
        <p th:text="${mensaje}"></p>
    </div>

    <!-- Mensaje de error -->
    <div th:if="${error}"  class="mensaje-error">
        <p th:text="${error}"></p>
    </div>

    <!-- Monedas del jugador -->
    <p class="titulo">
        Monedas actuales:
        <span th:text="${jugador != null ? jugador.monedas : 0}" class="titulo">0</span>
    </p>

    <!-- Lista de objetos disponibles -->
    <h2 class="titulo">Objetos disponibles:</h2>
    <ul>
        <li th:each="objeto : ${objetosDisponibles}" >
            <img th:src="@{'/img/' + ${objeto.nombreImagen}}" alt="Imagen del objeto" width="100" />
          <!--  Objeto ID: <span th:text="${objeto.idObjeto} + ${objeto.nombre} " >1</span> - -->
            <span th:text="${objeto.nombre} " >1</span>
            Precio: <span th:text="${objeto.precioObjeto}">100.0</span>
            <form th:action="@{/comprarObjeto}" method="post">
                <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}" /> <!-- "${1}"-->
                <button type="submit">Comprar</button>
            </form>
        </li>
    </ul>

 <!--   <form th:action="@{/comprarCarnada}" method="post">
        <input type="hidden" name="cant_carnada" value="1" />
        <button type="submit">Comprar 1 Carnada</button>
    </form> con este se compra de a una carnada a la vez-->
    <form th:action="@{/comprarCarnada}" method="post">
        <label for="cant_carnada">Cantidad de carnada:</label>
        <input type="number" id="cant_carnada" name="cant_carnada" min="1" required>
        <button type="submit">Comprar</button>
    </form>

    <form th:action="@{/reclamar-monedas}" method="post">
        <button type="submit" >Reclamar Monedas </button>
    </form>

    <p th:text="${mensajeReclamo}"></p>
</main>
</body>
</html>
