<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personaje</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/vistaPersonaje.css}">
</head>
<body>

<header>
    <nav>
        <a th:href="@{/mapa}">Mapa</a> |
        <a th:href="@{/tienda}">Tienda</a> |
        <a th:href="@{/logros}">Logros</a>
        <a th:href="@{/personaje}">Personaje</a>
    </nav>
</header>

<main>

    <div class="encabezado">
    <p th:text="${clavePersonaje}" id="clavePersonaje"></p>
    </div>

    
    <div class="contenido-centrado">
        <a th:href="@{/objeto}">
            <button>
                <img th:src="@{/img/caña-madera.png}" alt="Caña" class="icono-cania" />
               <p>Cañas</p>
            </button>
        </a>
    </div>
</main>
</body>
</html>