<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empezar a jugar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloRun.css}">
</head>
<body>
<div class="contenedor ">
    <div>
        <span>Resumen</span>
    </div>
<!--<span>Caña equipada<strong th:text="${activa}"></strong></span>-->
     <div class="resumen">
         <span>Caña equipada:</span>
         <img th:src="@{'/img/'+ ${activa}}" width="100" height="auto">
         <span>Cantidad de cebo: <strong th:text="${cebos}"></strong></span>
     </div>

     <div>
         <a th:href="@{/mapa}" class="btn btn-primary">Volver</a>
         <a th:href="@{/turno}" class="btn btn-primary">Empezar</a>
     </div>

</div>
</body>
</html>