<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloTurno.css}" />
    <title>Pescar un pez</title>
</head>
<body>
<h1>¡Intenta pescar!</h1>

<div class="contenedor">
    <div th:each="pez : ${peces}">
        <div class="contenedor-peces">
            <p><strong>Nombre:</strong> <span th:text="${pez.nombre}"></span></p>
            <p><strong>Rareza:</strong> <span th:text="${pez.rareza.getNombre()}"></span></p>
            <form th:action="@{/turno/resultado}" method="get">
             <input type="hidden" name="id" th:value="${pez.id_pez}"/>
                <button type="submit" class="btn btn-primary">¡Pescar este!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>