<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloVistaMapa.css}" />

</head>
<body>

  <header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/vistaLogros}">Libro de Coleccion</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/vistaTienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" href="#">Usuario</a><!-- cual es la vista del usuario y si vista logros sera asi o libro de colecciones -->
        </li>
    </ul>
  </header>

  <div class="container-fluid mapa-container">
    <div class="row">
        <div class="col-2">1.1</div>
        <div class="col-2">1.2</div>
        <div class="col-2"><a th:href="@{/vistaMarDesbloqueado}">"dka"</a></div>
        <div class="col-2">1.4</div>
        <div class="col-2">1.5</div>
       <!-- <div class="col-2">
            <form th:action="@{/irAVistaSeleccion}" method="post">
                <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}" />
                <button type="submit">"Mar Griego"</button>
            </form>
        </div>-->
    </div>
    <div class="row">
        <div class="col-2">1.1</div>
        <div class="col-2"><a th:href="@{/marUno}">"njorock"</a></div>
        <div class="col-2">1.3</div>
        <div class="col-2">1.4</div>
        <div class="col-2"><a th:href="@{/marUno}">"njorock"</a></div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"><a th:href="@{/marUno}">"njorock"</a></div>
        <div class="col-2">1.2</div>
        <div class="col-2"><a th:href="@{/marUno}">"njorock"</a></div>
        <div class="col-2">1.4</div>
        <div class="col-2">1.5</div>
        <div class="col-2"><a th:href="@{/marUno}">"njorock"</a></div>
    </div>
  </div>



</body>
</html>
