<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Objeto Comprado</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/vistaObjeto.css}">
</head>
<body>

<header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">

        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${jugador.monedas}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/mapa}">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>

    </ul>
</header>


<main>

<!--<h1 class="letraGrande">¡Has comprado un objeto!</h1>-->

<!-- Mensaje de éxito -->
<div th:if="${mensaje}" style="color:green;" class="letraGrande">
    <p th:text="${mensaje}"></p>
</div>

<!-- Mostrar monedas actuales -->
<p class="letraGrande"><strong>Monedas actuales:</strong> <span th:text="${jugador.monedas}">0</span></p>

<!-- Volver a la tienda -->
<form th:action="@{/tienda}" method="get">
    <br>
    <br>
    <br>
    <button type="submit" class="letraGrande">Volver a la Tienda</button>
</form>

</main>

</body>
</html>
