<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloVistaMapa.css}" />
</head>
<body>
<header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">
        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${monedas}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/mapa}">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>
    </ul>
</header>

<div class="container mar-desbloqueado-container ">
    <div class="row fondo">
        <div th:if="${errorAlDesbloquear}">
            <p th:text="${errorAlDesbloquear}" style="color:red;"></p>
            <p>Tenés <strong th:text="${monedas}"></strong> monedas disponibles.</p>
        </div>

        <div >
            <h2>Mar Bloqueado</h2>
        </div>

        <div >
            <p> Para desbloquear el mar <span th:text="${mar.nombre}"></span>
                necesitas <span th:text="${mar.precio}"></span> monedas </p>
        </div>

        <!-- Si NO hay error  -->
        <div th:unless="${errorAlDesbloquear}">
            <p>¿Deseás desbloquear este mar?</p>
            <div class="d-flex justify-content-center gap-2">
                <form th:action="@{/marBloqueado/{nombreMar}(nombreMar=${mar.nombre})}" method="post">
                    <button type="submit" class="btn btn-primary">Sí</button>
                </form>

                <a th:href="@{/mapa}" class="btn btn-secondary">No</a>
            </div>
        </div>

        <!-- Si HAY error -->
        <div th:if="${errorAlDesbloquear}">
            <a th:href="@{/mapa}" class="btn btn-warning">Volver al mapa</a>
        </div>


    </div>
</div>

</body>
</html>

