<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<header>
    <a href="mapa">Mapa</a>
    <a href="tienda"> Tienda</a>
    <a href="logros"> Logros</a>
</header>

<div>

    <p th:text=" ${marUno}">  </p>
</div>

<div>

    <p th:text=" ${marDos}">  </p>
</div>

<div>

    <p th:text=" ${marTres}">  </p>
</div>

<div>

    <p th:text=" ${marCuatro}">  </p>
</div>

<div>

    <p th:text=" ${marCinco}">  </p>
</div>

<div>

    <p th:text=" ${marSeis}">  </p>
</div>

<div>

    <p th:text=" ${marSiete}">  </p>
</div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>