<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/estiloVistaMapa.css}" />

</head>
<body>

  <header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">

        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${monedas}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/logros}">Libro de Coleccion</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>

    </ul>
  </header>


  <div th:if="${marError}">
      <p th:text="${marError}" style="color:red"></p>
  </div>

  <ul>
      <li th:each="mar : ${listaMar}">
          <a th:href="@{/marSeleccionado/{nombreMar}(nombreMar=${mar.nombre})}" th:text="${mar.nombre}">Nombre del mar</a>
      </li>
  </ul>

  </body>
</html>
