<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estiloVistaMapa.css}" />

</head>
<body>

  <header class="container-fluid">
      <!--modedas :500 (se descontarian si el jugador quiere ir a la tienda y proveerce de carnadas )-->
      <!--carnadas :5 (este sse descantaria dependiendo si el jugador quiere mas carnadas para su mar )-->
    <ul class="nav justify-content-end mt-2 p-4">
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/logros}">Libro de Coleccion</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" href="#">Usuario</a><!-- cual es la vista del usuario y si vista logros sera asi o libro de colecciones -->
        </li>
    </ul>
  </header>

  <div class="container mar-desbloqueado-container ">
    <div class="row fondo">
        <div >
            <!--aca deberia ser de forma dinamica -->
            <h2 th:text="${mar.nombre}">nombre mar </h2>
        </div>
        <div >
            <!-- el boton te permite ingrementar la canitdad de carnadas que a suvez se descuenten de que tenga el usuario-->
            <!-- el 3 tiene que ser una variable? la cual debe incrementar pero no puede quedarse a menos de tres
             no seria mejor que el jugador tenga las carnadas asi si llega a cero este puede ir a comprarlas en vez que vengan por defalut-->
            <p>Cantidad de Carnada : 3 </p> <button type="submit" class="btn btn-primary" > mas </button>
        </div>
        <div >
            <!--FALTA LOGICA MAS ADELANTE -->
            <p>Elige el jugador</p>
        </div>
        <div >
            <p>Junta la sufientes cantidad de monedas para poder desbloquar y conocer otros mares! </p>
        </div>
        <div>
            <!-- tendria que redirigirte a run-->
            <form th:action="@{/run}" method="post">
                <input type="hidden" name="idMar" th:value="${mar.id_mar}"/>
                <button type="submit" class="btn btn-primary">Empezar</button>
            </form>
        </div>
    </div>
  </div>



</body>
</html>
