<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/vistaTienda.css}">


</head>
<body>

<header class="container-fluid">
    <ul class="nav justify-content-end mt-2 p-4">

        <li class="nav-item">
            <p class="btn btn-primary me-2">Monedas: <span th:text="${jugador != null ? jugador.monedas : 0}"></span></p>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/mapa}">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2"  th:href="@{/tienda}">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" th:href="@{/personaje}">Personaje</a>
        </li>

    </ul>
</header>

<main>
    <div class="div-main">
    <!-- Título o mensaje de bienvenida -->
    <p th:text="${claveTienda}" class="titulo">Bienvenido a la tienda</p>

    <!-- Mensaje de éxito -->
    <div th:if="${mensaje}"  class="mensaje-exito">
        <p th:text="${mensaje}"></p>
    </div>

    <!-- Mensaje de error -->
    <div th:if="${error}"  class="mensaje-error">
        <p th:text="${error}"></p>
    </div>

    <!-- Lista de objetos disponibles -->
    <ul class="claseUl">
        <li class="claseLi" th:each="objeto : ${objetosDisponibles}" >
            <img th:src="@{'/img/' + ${objeto.nombreImagen}}" alt="Imagen del objeto" width="100" />
          <!--  Objeto ID: <span th:text="${objeto.idObjeto} + ${objeto.nombre} " >1</span> - -->
            <span th:text="${objeto.nombre} " >1</span>
            Precio: <span th:text="${objeto.precioObjeto}">100.0</span>
            <form th:action="@{/comprarObjeto}" method="post">
                <input type="hidden" name="idObjeto" th:value="${objeto.idObjeto}" /> <!-- "${1}"-->
                <button type="submit">Comprar</button>
            </form>
        </li>
    </ul>

 <!--   <form th:action="@{/comprarCarnada}" method="post">
        <input type="hidden" name="cant_carnada" value="1" />
        <button type="submit">Comprar 1 Carnada</button>
    </form> con este se compra de a una carnada a la vez-->
    <!--<form th:action="@{/comprarCarnada}" method="post" class="textoBlanco">
        <label for="cant_carnada" >Cantidad de carnada:</label>
        <input type="number" id="cant_carnada" name="cant_carnada" min="1" required>
        <button type="submit">Comprar</button>
    </form>-->

    <ul class="claseUl">
        <li class="item-carnada">
            <div class="imagenCarnada">
            <img th:src="@{'/img/carnada.jpg'}" alt="Carnada" width="100"  />
            <form th:action="@{/comprarCarnada}" method="post" class="form-carnada">
                <label for="cant_carnada" class="label-carnada">CANTIDAD DE CARNADA Precio: 10.0</label>
                <input type="number" id="cant_carnada" name="cant_carnada" min="1" required class="input-carnada">
                <button type="submit">Comprar</button>
            </form>
            </div>
        </li>
    </ul>



    <form th:action="@{/reclamar-monedas}" method="post">
        <button type="submit" class="botonReclamarMonedas">Reclamar Monedas </button>
    </form>

   <!-- <p th:text="${mensajeReclamo}" class="text-white"></p>-->

    <p th:if="${mensajeReclamo}" th:text="${mensajeReclamo}" style="color:white"></p>

    <div th:if="${segundosRestantes > 0}">
        <p style="color:white">Podés reclamar monedas en <span th:text="${segundosRestantes}" style="color:white" >15</span> segundos.</p>
    </div>

    </div>

</main>
</body>
</html>
